body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
span {
  display: inline-block;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.blinky {
  border:10px solid red;
  border-radius:10px;
}
.pacman{
  position:absolute;
  width: 70px;
}
.alignment {
  position:static;
  display: inline-block;
}
.close {
  border:10px solid green;
}
.zangief {
  background-image: url("http://files.gamebanana.com/img/ico/sprays/zangiefrender_2.gif");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 150px;
  height: 150px;
}
.jumper {
  border:10px solid red;
  border-radius:10px;
}
